.navegacion {
    display: flex;
    justify-content: space-around;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    line-height: 50px;
}

ul{
    display: flex;
    list-style: none;
}

a{
    margin-right: 10px;
    color: #698C63;
    padding: 16px;
    border-radius: 50px;
    transition: all ease-in-out 0.3s;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

li a:hover,
.navegacion li .active {
    color: #ffffff;
    background-color: #698C63;
}

.nav-toggle {
    color: white;
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;

    display: none;
    transition: ease-in-out .5s;
}

.animacion {
    transform: rotate(90deg);
}
