.contact {
    width: 100%;
    background-color: #d4f1cf;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

input[type="text"],
input[type="email"],
textarea {
  border: thin solid #9c9c9c;
  border-radius: 0.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  display: block;
  width: 90%;
  font-size: 1rem;
  line-height: 1;
  background-color: transparent;
}

textarea {
  font-family: inherit;
  resize: none;
}

button,
input[type="submit"]{
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 0 0;
  display: inline-block;
  background-color: #c4d69c;
  color: #444;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
}

.buttom:hover {
  background-color: #86995d;
}
