.contact {
    margin-top: 60px;
}

.formulario{
    background-color: #698C63;
    width: 35%;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    margin: auto;
    margin-top: 50px;
    z-index: 0;
    color: #fff;
    text-align: center;
}


input, select, textarea{
    width: 70%;
}

input, textarea{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #1B5212;
    border-radius: 5px;
}

select{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #1B5212;
    border-radius: 5px;
}


input:focus, textarea:focus {
    border: 2px solid #1B5212;

}

textarea {
    resize: vertical;
    max-height: 200px;
    min-height: 90px;
}

input[type= "submit"] {
    color: #fff;
    background: #1B5212;
    border: none;
    margin-bottom: 0px;
}

input[type= "submit"]:hover {
    background: #143D0D;
    cursor: pointer;
}


.parrafoform{
    font-size: 20px;
    padding-top: 8px;
}

.fa-envelope{
    font-size: 25px;
}

.cajatexto::-webkit-scrollbar {
        width: 10px;
    }
    
    .cajatexto::-webkit-scrollbar-thumb {
    background-color: #698C63;
    border-radius: 50px;
    border-right: 2px solid #fff;
    }