.brands {
    width: 100%;
    text-align: center;
}

.itemsbrandsuniti {
    width: 180px;
    vertical-align: middle;
    padding: 40px;
    transition: all .3s ease-in-out;
}

.itemsbrandsuniti:hover {
    transform: rotate(3deg) scale(1.1);
}

